//Processes
process {

    executor = 'local'

    withName: UMI_EXTRACTION {
        cpus = 1
    }

    withName: BOWTIE_ALIGNMENT {
        cpus = 1
    }

    withName: SORT_BAM {
        cpus = 1
    }

    withName: UMI_DEDUP {
        cpus = 1
        ext.method = 'unique'
    }
}

// Parameters
params {
    merged = "${projectDir}/../Samples/merged"                      //Dir with merged samples
    unmerged = "${projectDir}/../Samples/unmerged"                  //Dir with unmerged samples
    bowtie_index = "${projectDir}/../Reference/hsa_mature_index"    //Dir with reference miRNome
    merge_lanes = false                                             //true: samples need to be merged | false: samples have already been merged
}

profiles {
    local {
        process.executor = 'local'
    }

    lns {
        process {
            executor = 'slurm'
            queue = 'normal'
            withName: 'UMI_EXTRACTION|BOWTIE_ALIGNMENT|SORT_BAM|UMI_DEDUP|COUNTS_VECTOR' {
                conda = "/path/to/micromamba/envs/pipeline_environment"
            }
            withName: 'BOWTIE_ALIGNMENT|SORT_BAM' {
                cpus = 4
            }            
        }
        conda {
            enabled = true
            useMicromamba = true
        }
        executor {queueSize = 10}
        workDir = "/path/to/${env('USER')}/Bioinfo-pipeline-automatization/NextFlow/work"
    }

}
